.login {
  display: flex;
  position:absolute;
  top:0;
  left:5%;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home {
  display:flex;
  position:absolute;
  top:0;
  left:0;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.dropdown {
  position: absolute;
  top: 100%;
  z-index: 1;
  display: none;
  background-color: #D3D3D3;
  min-width: 120px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  padding: 6px 10px;
  border-radius: 4px;
}

.dropdown button {
  display: block;
  width: 100%;
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.dropdown button:hover {
  background-color: #f2f2f2;
}

.icon-wrapper:hover .dropdown {
  display: block;
}

.google {
}