/* #editrights {
    width:30%;
    height:30%;
} */

.shareimg {
    display:flex;
    align-items:center;
    flex-direction:column;
    cursor:pointer;
  }

  .rightsBox {
    display:flex;
    flex-direction:row;
    cursor:pointer;
    height:10%;
    border-radius:5px;
  }
  
  .section-edit {
    background:white;
    border:2px solid black;
    border-radius:10px;
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:40%;
    height:50%;
    padding:10px;
    color:black;
  }

  .userList {
    display:flex;
    flex-direction:column;
    padding:10px;
    margin:auto;
  }

  .readType {
    display:flex;
    flex-direction:row;
  }

  .rightsHeader {
    padding:10px 0 10px 0;
  }

  .confirmBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding:2%;
    margin:2%
  }

  .userBox {
    display:flex;
    flex-direction:row;
  }

  .emailInput {
    display:flex;
    width:80%;
  }